.tasks {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  border: 1px solid rgb(78, 54, 54);
  border-radius: 10px;
  background: rgb(37, 42, 52);
  gap: 12px;
}

.checkpoint {
  width: 20px;
  height: 20px;
  background: none;
  border: none;
}

.checkpoint div {
  width: 20px;
  height: 20px;
  border-radius: 999px;
  border: 2px solid rgb(255, 209, 227);
}

.checkpoint svg {
  width: 20px;
  height: 20px;
  color: rgb(207, 81, 114);
}

.tasks p {
  font-size: 17px;
  line-height: 19px;
  margin-right: auto;
  overflow: hidden;
  white-space: pre-wrap;
  text-overflow: ellipsis;
}

p.textcomplete {
  color: rgb(255, 255, 255, 0.5);
  text-decoration: line-through;
}
