* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: rgb(182, 187, 196);
  color: rgb(240, 236, 229);
  min-height: 100vh;
}

button {
  cursor: pointer;
}
