.header {
  background: rgb(22, 26, 48);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 180px;
  position: relative;
}

.fontheader {
  font-size: 62px;
}

.newTask {
  position: absolute;
  height: 54px;
  bottom: -20px;
  width: 100%;
  max-width: 750px;
  display: flex;
  gap: 8px;
  padding: 0 1rem;
}

.newTask input {
  height: 100%;
  flex: 1;
  color: #fff;
  background: rgb(10, 38, 71);
  border: 1px solid #0d0d0d;
  border-radius: 10px;
  padding: 0 16px;
  font-size: 16px;
}

.newTask input::placeholder {
  color: rgb(240, 245, 249);
}

.newTask button {
  height: 100%;
  padding: 0 16px;
  background: #435585;
  color: #fff;
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 700;
  font-size: 16px;
  transition: transform 0.3s ease, background 0.3s ease;
}

.newTask button:active {
  background: #2c3858;
  transform: scale(0.9);
}
